{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} {%
block head_title %}{% trans "Sign In" %}
<br />

<br />
{% block content %}

<div class="container-fluid full-height">
  <div class="row justify-content-center align-items-center full-height">
    <div class="col-md-8 offset-md-2">
      <h3>{% trans "Sign In" %}</h3>
      <p>
        {% blocktrans %}Welcome to the Foreign-Room Blog. If you have not
        created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class="btn btn-primary" type="submit">
              {% trans "Sign In" %}
            </button>
          </form>
        </div>
      </div>
      <!--  -->

      <!--  -->
    </div>
  </div>
</div>
<div></div>
<div></div>
<div></div>
<div></div>
<br />
<br />
<div>
  <strong>
    <p>
      Thank You for Joining Our Blog Community Dear, We wanted to take a moment
      to express our heartfelt gratitude for becoming a valued member of our
      blog community. Welcome to Foreign-Room! Your decision to join us not only
      brings you access to insightful articles, engaging discussions, and the
      latest updates but also enriches our community with your unique
      perspective and experiences. As we embark on this journey together, we're
      excited to share and learn from each other. Whether you're here to
      discover new ideas, connect with like-minded individuals, or simply enjoy
      thought-provoking content, we're here to ensure your experience is nothing
      short of exceptional. Please feel free to explore our blog, participate in
      discussions, and don't hesitate to reach out if you have any questions or
      feedback. Your voice matters, and we're thrilled to have you as part of
      our growing family. Once again, thank you for choosing [Your Blog Name] as
      your online destination for inspiration, knowledge, and community. We look
      forward to building a meaningful connection with you. Warm regards,
    </p>
  </strong>
</div>
<!-- Masthead with a goodbye message and featured image -->
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title">Wellcome........!</h1>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
          width="100%"
        />
        {% else %}
        <img src="{{ post.featured_image.url }}" width="100%" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endblock %}
