{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
  {% trans "Sign Out" %}  <!-- Setting the title of the page to "Sign Out" -->
{% endblock %}

{% block content %}

<div class="container">
  <!-- Heading and description of signing out -->
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign Out" %}</h3>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
  </div>

  <!-- Form to handle sign out request -->
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        
        <!-- Hidden input to handle redirects (if any) after logging out -->
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <!-- Button to submit the sign out request -->
        <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
        <br /><br /><br />
      </form>
    </div>
  </div>
</div>

<!-- Farewell message -->
<div class="container mt-3">
  <h1>SEE YOU SOON.......</h1>
</div>

<!-- Thank you message for joining the blog community -->
<div>
  <strong>
    <p>
      Thank You for Joining Our Blog Community
      ...
      We look forward to building a meaningful connection with you.
      Warm regards,
    </p>
  </strong>
</div>

<!-- Featured image (if exists) -->
<div class="card-body">
  <div class="container">
    <div class="image-container">
      {% if "placeholder" in post.featured_image.url %}
      <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" />
      {% else %}
      <img class="card-img-top" src="{{ post.featured_image.url }}" />
      {% endif %}
    </div>
  </div>
</div>

<!-- Masthead with a goodbye message and featured image -->
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="post-title">Goodbye........!</h1>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        {% if "placeholder" in post.featured_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%" />
        {% else %}
        <img src="{{ post.featured_image.url }}" width="100%" />
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
