{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} {%
block head_title %}{% trans "Change Password" %}
<br />

<br />
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>{% trans "Change Password" %}</h3>

      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <form
            class="login"
            method="POST"
            action="{% url 'account_change_password' %}"
          >
            {% if user.is_authenticated %} {% csrf_token %} {{ form.as_p }}
            <!--  -->
            {% if redirect_field_value %}
            <!--  -->
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class="btn btn-primary" type="submit">
              {% trans "Change Password" %}
            </button>
          </form>
        </div>
      </div>
      <!--  -->

      <!--  -->
    </div>
  </div>
</div>
<br />
<br />
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <!-- Post title goes in these h1 tags -->
        <h1 class="post-title">Changing Password!</h1>
        <!-- Post author goes before the | the post's created date goes after -->
        <!-- <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p> -->
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- The featured image URL goes in the src attribute -->
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
          width="100%"
        />
        {% else %}
        <img src=" {{ post.featured_image.url }}" width="100%" />
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endif %} {% endblock %}
