{% extends 'base.html' %} {% load static %} {% block title %}{{post.title_tag
}}{% endblock %} {% block content %}

<h1>{{ post.title }}</h1>
<small>
  By:{{ post.author.first_name }} {{ post.author.last_name }}
  <!--  -->
  {% if user.is_authenticated %}
  <!--  -->
  {% if user.id == post.author.id %}

  <a href="{% url 'update_post' post.pk %}">(Edit)</a>
  <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
  <!--  -->
  {% endif %} {% endif %}
</small>
<br />
<small>
  <i> {{ post.created_on }} </i>
</small>
<hr />
<br />
{% if "placeholder" in post.featured_image.url %}
<img src="{{ post.featured_image.url }}" alt="" srcset="" />
<!--  -->
{{ post.content|safe }}
<br />
<br />
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<br />
<br />
<hr />
<br />
<strong>
  {% if user.is_authenticated %}
  <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <!--  -->
    {% if liked %}
    <button
      type="submit"
      name="post_id"
      value="{{post.id}}"
      class="btn btn-danger"
    >
      Unlike
    </button>
    {% else %}
    <button
      type="submit"
      name="post_id"
      value="{{post.id}}"
      class="btn btn-success"
    >
      Like
    </button>
    {% endif %}
  </form>
  {% else %}
  <small>Login to Like Post</small>
  {% endif %}
  <!-- The number of likes goes before the closing strong tag -->
  <span class="text-secondary">{{ post.number_of_likes }} </span>
</strong>
<br /><br />
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      {% if "placeholder" in post.featured_image.url %}
      <img src="{{ post..featured_image.url }}" alt="" class="rounded-circle" />

      {% endif %}
      <img src="..." class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
          {{ post.author.first_name }} {{ post.author.last_name }}
        </h5>
        <p class="card-text">{{ post.author.userprofile.bio }}</p>
        <p class="card-text">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>

<br /><br />
<!--  -->
{% endif %}
<!--  -->
{% endblock %}
