{% extends 'base.html' %} {% block title %}Delete Blog Post{% endblock %}

<br />
{% block content %}
<!--  -->
{% if user.is_authenticated %}
<!--  -->
{% if user.id == post.author.id %}
<h1>Delete Post....!</h1>
<br />
<h3>Delete: {{ post.title }}</h3>
<div>
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <br />
      <strong>Are you sure?</strong>
      <br />
      <br />
      <button class="btn btn-primary">Delete</button>
    </form>
  </div>
</div>
{% else %}
<h1>You're not allowed here!!!</h1>
{% endif %}
<!--  -->
{% else %}
<h1>You're not allowed here!!!</h1>
{% endif %}
<br />
{% endblock %}
